# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Current instance environment variables
/src/vendor/environment/*
!/src/vendor/environment/_default.prod.ts
!/src/vendor/environment/_default.ts
!/src/vendor/environment/_types.ts
!/src/vendor/environment/env.prod.ts.sample
!/src/vendor/environment/env.ts.sample
!/src/vendor/environment/tenant.ts.sample

# Assets of all environment
src/vendor/assets/*
!src/vendor/assets/dev

# Backup folders of env and defaults
src/_defaults_backup
src/_env_backup

src/vendor/README.md
