@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '@blueprintjs/select/lib/css/blueprint-select.css';
@import '@blueprintjs/popover2/lib/css/blueprint-popover2.css';

body {
	margin: 0;
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'Lexend Deca';
	src: local('Lexend Deca');
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	font-family: 'Lexend Deca', sans-serif;

	overflow: hidden;
}

.banner {
	position: absolute;
	z-index: var(--z-index-unnecessary-banner);

	display: flex;
	justify-content: space-between;

	width: 100vw;
	padding: var(--spacing-1);

	color: var(--white-100);
	font-size: 1.25rem;

	background-color: var(--primary-500);

	& > p {
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;

		& > a {
			color: var(--kannai-500);

			transition: all 0.5s;

			&:hover {
				color: var(--kannai-100);
			}

			&:active {
				color: var(--kannai-900);
			}
		}
	}

	&.top {
		top: 0;
		left: 0;
		right: 0;
	}

	&.bottom {
		left: 0;
		bottom: 0;
		right: 0;
	}
}

html {
	--scrollbarBG: var(--primary-800);
	--thumbBG: var(--primary-500);
}

*::-webkit-scrollbar {
	width: 11px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

*::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

*::-webkit-scrollbar-thumb {
	border: 3px solid var(--scrollbarBG);
	border-radius: 6px;

	background-color: var(--thumbBG);
}

.bp4-overlay {
	// Remove annoying borders behind Popover2 (Blueprint)
	& .bp4-popover2-content {
		border: none !important;

		background: none !important;

		outline: none !important;

		box-shadow: none !important;
	}
	& .bp4-tooltip2 {
		box-shadow: none !important;
	}
}
