.small_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--z-index-small-overlay);

	width: 100%;

	color: var(--white-100);
	text-align: center;

	background-color: var(--mirai-500);

	& * {
		margin: 0;
	}

	&.success {
		background-color: var(--yamate-600);
	}

	&.danger {
		color: var(--mirai-900);

		background-color: var(--kannai-500);
	}

	&.error {
		background-color: var(--ramen-500);
	}
}
